*{
    margin: 0;
    padding: 0;
}

.blog-input{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.edit-text{
    width: 70vw;
    display: flex;
    flex-direction: column;
}

.input-title{
    margin-left: 20px;
    font-size:15px;
    padding:10px 10px 5px 5px;
    margin-top: 10px;
    display:block;
    width:100%;
    border: none;
    border-bottom:2px solid orange;
    position: relative;
}

.input-title:focus {
    outline: none;
}

.title-label{
    font-size: 20px;
    position: absolute;
    top: 10px;
    left: 20px;
    color: gray;
    transition: 0.2s ease all;
    cursor: text;
}

.input-title:focus ~ .title-label, input:valid ~ .title-label {
    top: 5px;
    font-size: 10px;
    color: orange;
}


.content{
    padding: 10px;
    margin-top: 20px;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    height: 80vh;
    border: 1px solid rgba(0, 0, 0, 0.09);
    border-radius: 5px;
    resize: none;
}

.content:focus{
    outline: none;
}

.bar-tab{
    position: relative;
    width: 20vw;
    display: flex;
    flex-direction: column;
}

.publish-btn{
    top: 25px;
    right: 130px;
    position: absolute;
    width: 70px;
    height: 30px;
    border: none;
    background-color: orange;
    color: white;
}

.option-author{
    position: absolute;
    padding: 20px 10px 20px 10px;
    top: 70px;
    right: -50px;
    width: 100%;
    height: 76vh;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.writer{
    width: 80%;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    position: relative;
}

.title-author{
    color: grey;
    position: absolute;
    top: 30px;
    font-size: 15px;
    transition: 0.2s ease all;
    cursor: text;
}



.name-author{
    margin-top: 20px;
    font-size:15px;
    padding:10px 10px 5px 5px;
    margin-top: 10px;
    display:block;
    width:80%;
    border: none;
    border-bottom:2px solid gray;
    position: relative;
}

.name-author:focus{
    outline: none;    
}

.name-author:focus ~ .title-author, .name-author:valid ~ .title-author{
    top: 15px;
    color: orange;
    font-size: 10px;
}

.publishedOn{
    margin-top: 20px;
    margin-left: 10px;
}

.h1-published{
    margin-bottom: 10px;
}

.input-time{
    width: 100px;
}